<mat-sidenav-container fullscreen>
  <mat-toolbar>
    <button
      mat-button
      routerLink="./create"
      (click)="stitle('Crear Reporte')"
      class="mx-5"
      color="primary"
    >
      <mat-icon>add</mat-icon>
      Crear
    </button>
    <button
      mat-button
      routerLink="./consult"
      (click)="stitle('Consultar Reporte')"
      color="primary"
    >
      <mat-icon>search</mat-icon>
      Consultar
    </button>
    <a> </a>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
